.resource-header.mdl-grid.section--center.mdl-shadow--2dp.mdl-color--white
  .mdl-card.mdl-cell.mdl-cell--12-col
    .mdl-card__supporting-text
      %h4 New Property
      = render 'form'
    .mdl-card__actions
      = link_to 'Back', properties_path, :class=>"mdl-button mdl-js-button mdl-js-ripple-effect"
