<div class="image-container">
  <%= image_tag('hero_image.svg', class:'hero-image') %>
</div>

<div class="center">
  <h3>Simple Toolkit for Investment Property Management</h3>
  <h6 class="mdl-color-text--grey-700">
    Manage properties, units, rents, expenses, tenants and more.
  </h6>
  <%= link_to "GET STARTED", new_user_registration_path, :class=>"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
  <%= link_to "LOGIN", new_user_session_path, :class=>"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
</div>
