// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.full-width {
  width: 100%;
}

.center {
  text-align: center;
}

.p-50 {
  padding: 50px;
}

.auto {
  margin: auto;
}

.mdl-layout__content {
  padding: 20px;
}

.cards-container {
  margin-top: 20px;
}

.mdl-layout-title {
  text-decoration: none;
}

.mdl-card__title {
  position: relative;
}

.demo-card-event.mdl-card {
  margin-bottom: 20px;
}

.demo-card-event .mdl-card__actions {
  background: #3E4EB8;
}

.mdl-card__supporting-text + .mdl-card__actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.mdl-button--mini-fab.xs {
  width: 30px;
  height: 30px;
  min-width: 30px;
}

@mixin resource_card($resource) {
  background-image: url($resource);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: .2;
}

.unit_card {
  @include resource_card('unit.jpg')
}

.property_card {
  @include resource_card('property.jpg')
}

//Flash notifications
.notice {
  color: green;
}
.alert {
  color: red;
}

// Material select
.select-container {
  margin: 10px 0px;
}

.select {
  font-family:
    'Roboto','Helvetica','Arial',sans-serif;
	position: relative;
	width: 300px;
}

.select-text {
	position: relative;
	font-family: inherit;
	background-color: transparent;
	width: 300px;
	padding: 10px 10px 3px 0;
	font-size: 18px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgba(0,0,0, 0.12);
}

/* Remove focus */
.select-text:focus {
	outline: none;
	border-bottom: 1px solid rgba(0,0,0, 0);
}

	/* Use custom arrow */
.select .select-text {
	appearance: none;
	-webkit-appearance:none
}

.select:after {
	position: absolute;
	top: 18px;
	right: 10px;
	/* Styling the down arrow */
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.12);
	pointer-events: none;
}


/* LABEL ======================================= */
.select-label {
	color: rgba(0,0,0, 0.26);
	font-size: 16px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 10px;
	transition: 0.2s ease all;
}

/* active state */
.select-text:focus ~ .select-label, .select-text:valid ~ .select-label {
	color: rgb(63,81,181);
	top: -5px;
	transition: 0.2s ease all;
	font-size: 12px;
}

/* BOTTOM BARS ================================= */
.select-bar {
	position: relative;
	display: block;
	width: 300px;
}

.select-bar:before, .select-bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #2F80ED;
	transition: 0.2s ease all;
}

.select-bar:before {
	left: 50%;
}

.select-bar:after {
	right: 50%;
}

/* active state */
.select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {
	width: 50%;
}

/* HIGHLIGHTER ================================== */
.select-highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}
